/* Média Queries Portable */

/* BreakPoint < 768px */
@media screen and (max-width: 768px) {

    /* Container */
    .container {
        width: 100%
    }
    /* Header */
    .header {
        display: flex;
        flex-direction: column;
    }

    .entete {
        display: flex;
        justify-content: center;
    }

    /* Nav */
    .breadcrump {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .breadcrump_lien {
        display: flex;
        justify-content: space-around;
    }

    .breadcrump-item:before {
        display: none;
    }

    .breadcrump_lien a {
        width: 42%;
        margin: 0 auto;
        text-align: center;
    }

    .breadcrump-item:after {
        content: '';
        display: block;
        height: 1px;
        transition:.5s ease;
    }

    .breadcrump-item:hover:after {
        background:var(--color2);
    }
    /* Fin Nav */

    .title_principal {
        width: 95%;
        margin: 0 auto;
    }

    .subtitle_title {
        display: flex;
        justify-content: flex-start;
    }

    .subtitle_infos {
        display: flex;
        justify-content: flex-start;
    }

    .form {
        left: 90px;
        top: 235px;
    }

    .form_search {
        display: none;
    }

    .position {
        position: absolute; 
        right: 195px;
    }

    .search {
        position: absolute; 
        top: 0px;
        left: 150px; 
        padding: 15px;
        border-radius: 10px;
        color: var(--color4);
        padding: 9px;
        background-color: var(--color2);
    }

    .articles_filtres h2 {
        margin-bottom: 15px;
    }

    .articles_filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 6px;  
    }
    
    .articles_filtres_a {
        margin-bottom: 10px;
    }

    .grid_container1 {
        margin: 10px auto;
        display: flex;
        width: 98%;
        flex-direction: column;
        align-items: center;
    }

    .hebergements {
        margin-top: 10px;
        width: 98%;
        order: 2;
        background-color: white;
    }

    .container_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_item a {
        width: 80%;
    }

    .section1_figure {
        background-color:var(--color7); 
    }

    .populaire {
        order: 1;
        width: 98%;
        margin: 0 auto;
        background-color: var(--color3); 
    }

    .aside1_figure {
        background-color:var(--color7); 
    }
    /* Fin Grid-container1 */

    /* Grid-container2 */
    .grid-container2 {
        width: 100%;
    } 

    .section2 {
        width: 90%;
    }

    .activity {
        display: flex;
        flex-direction: column;
    }

    .activity1, 
    .activity4,
    .activity2_3,
    .activity5_6 {
        width: 100%;
    }

    .activity1,
    .activity2,
    .activity3,
    .activity4,
    .activity5,
    .activity6 {
        height: 245px;
        margin-bottom: 20px;
    }

    .img1_bis{
     height: 200px;
    }

    /*Fin  Grid-container2 */ 

    /* Grid-container3 */

     footer {
        width: 100%;
        margin: 0px auto;

    }
    
    .grid-container3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--color3); 
        /* margin-top: 85px;   */
    }

    .grid-container3 h4 {
        margin-top: 15px;
        margin-left: 15px;
    }

    .grid-container3 li  {
        margin-bottom: -5px;
        margin-left: 16px;
    } 

    /* Fin Grid-container3 */
    /* Fin Container */
    
}
/* Fin BreakPoint < 768px */

/* Fin Média Queries Portable */
